body {
  font-family: sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

code {
  font-size: 20px;
  color: green;
}

dfn {
  all: unset;
  font-weight: bold;
}

h3 {
  color: #3457d5;
}

h4 {
  color: darkmagenta;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: auto;
}

.nav {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: auto;
}
